<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Caleb Chan" />

<!-- <link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" sizes="64x64" href="/icon/64.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/icon/192.png" />
<link rel="apple-touch-icon" href="/icon/180.png" /> -->
<meta name="theme-color" content="#ffffff" />

<link rel="stylesheet" href="/styles.css" />
