<div class="ml-4 flex flex-col gap-2 md:flex-row md:items-center">
	<div class="flex items-center gap-1">
		<template x-for="d in [1, 2, 3, 4, 5]">
			<button
				class="cursor-pointer rounded-md px-2.5 py-1 hover:brightness-125"
				x-on:click="toggleWeekday(d, mp)"
				x-bind:class="{
          'bg-zinc-600/50': !mp.weekdays.includes(d),
          'bg-zinc-200/70 text-zinc-900': mp.weekdays.includes(d),
        }"
			>
				<span x-text="weekdayToString(d, true)"></span>
			</button>
		</template>
		<button
			class="ml-2 flex cursor-pointer items-center justify-center rounded-md hover:text-red-400 md:hidden"
			x-on:click="if (isEmptyMeetingPattern(mp) || confirm(`Really delete meeting pattern?`)) mps.splice(index, 1)"
		>
			<div class="ph ph-[x] size-4"></div>
		</button>
	</div>

	<div class="ml-4 flex items-center gap-2 md:contents">
		<span class="font-medium text-zinc-400">from</span>
		<input
			autocomplete="off"
			type="time"
			x-model="mp.startTime"
			step="1800"
			class="w-30 rounded-md bg-zinc-600/50 px-3 py-1"
		/>
	</div>
	<div class="ml-4 flex items-center gap-2 md:contents">
		<span class="font-medium text-zinc-400">to</span>
		<input
			autocomplete="off"
			type="time"
			x-model="mp.endTime"
			step="1800"
			class="w-30 rounded-md bg-zinc-600/50 px-3 py-1"
		/>
		<button
			class="-ml-1 cursor-pointer rounded-md px-3 py-1 hover:brightness-125"
			x-on:click="mp.endTime = addMinutes(mp.startTime, 50)"
			x-bind:class="mp.endTime === addMinutes(mp.startTime, 50) ? 'bg-zinc-200/70 text-zinc-900' : 'bg-zinc-600/50'"
		>
			50m
		</button>
		<button
			class="-ml-1 cursor-pointer rounded-md px-3 py-1 hover:brightness-125"
			x-on:click="mp.endTime = addMinutes(mp.startTime, 110)"
			x-bind:class="mp.endTime === addMinutes(mp.startTime, 110) ? 'bg-zinc-200/70 text-zinc-900' : 'bg-zinc-600/50'"
		>
			1h50m
		</button>
	</div>
	<button
		class="mr-4 hidden cursor-pointer items-center justify-center rounded-md hover:text-red-400 md:flex"
		x-on:click="if (isEmptyMeetingPattern(mp) || confirm(`Really delete meeting pattern?`)) mps.splice(index, 1)"
	>
		<div class="ph ph-[x] size-4"></div>
	</button>
</div>
